#owl-demo .item img{
    display: block;
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 300px;
    text-align: center;
    margin: auto;
}

#contain{
	padding-top: 10px;
}

#imgListe{
	width: 250px;
	height: 200px;
	padding: 10px;
	text-align: center;
	margin: auto;
}
